<%= stylesheet_link_tag "home", :media => "all" %>
<%= javascript_include_tag 'demo_js' %>
 <div class="container">
 <p>jQuery稼働テスト(未稼働)</p>
    <section class="section1">
        <p class="copy1">あなたの<br>お部屋も心も綺麗に。</p>
        <h1 class="copy2">サクラプランニングクリーニング</h1>
    </section>
    <section class="section2">
        <h2>サービス</h2>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view.jpeg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view2.jpg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view.jpeg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view2.jpg'), '#' %>
        </div>
        </div>
    </section>
    </div>

