<%= javascript_include_tag 'demo_js' %>

<%= stylesheet_link_tag "home", :media => "all" %>
<div class="container">
    <section class="section1">
    </section>
    <section class="section2">
        <h2>サービス</h2>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view.jpeg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view2.jpg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view.jpeg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view2.jpg'), '#' %>
        </div>
        </div>
    </section>
    </div>
