<%= stylesheet_link_tag "home", :media => "all" %>
<div class="container">
    <section class="section1">
    <div class="move">
    <%= link_to image_tag('view.jpeg'), '#' ,class:"photo"%>
    <%= link_to image_tag('view2.jpeg'), '#',class:"photo" %>
    <%= link_to image_tag('view.jpeg'), '#' ,class:"photo"%>
    </div>
    </section>
    <section class="section2">
        <h2>サービス</h2>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view.jpeg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view2.jpg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view.jpeg'), '#' %>
        </div>
        </div>
        <div class="wide">
        <div class="service-menu">
            <%= link_to image_tag('view2.jpg'), '#' %>
        </div>
        </div>
    </section>
    </div>
