    <!--CSSの読み込み-->
    <%= stylesheet_link_tag "service", :media => "all" %>
    <!--meta_tagの各タイトル設定-->
    <%set_meta_tags title:"サービス"%>
    <div class="container">
    <div class="serviceTitle">
    <h1>サービス一覧</h1>
    </div>
    <section class="section1">
    <div class="serviceContent">
    <div class="content">
        <%= image_tag "image0.jpg", alt: "house", id: "assets", class: "image" %>
    </div>
    <div class="ContentMesseage">
        <h2>ハウスクリーニング</h2>
        <p>サクラプランニングのハウスクリーニング業務です。あああああああああああああああああああああああああああああああああああああ</p>
    </div>
    <div class="ContentList">
        <ul>
        <li>家庭用エアコンクリーニング<br>100万円</li>
        <li>水まわりのお掃除<br>100万円</li>
        <li>フローリング<br>100万円</li>
        <li>クロスクリーニング<br>100万円</li>
        <li>ガラスクリーニング<br>1000万円</li>
        <li>その他</li>
        </ul>
    </div>
    </div>
    </section>
    <section class="section2">
    <div class="serviceContent">
    <div class="content">
        <%= image_tag "image1.jpg", alt: "bill", id: "assets", class: "image" %>
    </div>
    <div class="ContentMesseage">
        <h2>ビルクリーニング</h2>
        <p>サクラプランニングのビルクリーニング業務です。あああああああああああああああああああああああああああああ</p>
    </div>
    <div class="ContentList">
        <ul>
        <li>家庭用エアコンクリーニング<br>100万円</li>
        <li>水まわりのお掃除<br>100万円</li>
        <li>フローリング<br>100万円</li>
        <li>クロスクリーニング<br>100万円</li>
        <li>ガラスクリーニング<br>1000万円</li>
        <li>その他</li>
        </ul>
    </div>
    </div>
    </section>
    <section class="section3">
    <div class="serviceContent">
    <div class="content">
    <%= image_tag "image2.jpg", alt: "mokubu", id: "assets", class: "image" %>
    </div>
    <div class="ContentMesseage">
        <h2>木部灰汁洗い</h2>
        <p>サクラプランニングの木部灰汁洗い業務です。あああああああああああああああああああああああああああああ</p>
    </div>
    <div class="ContentList">
        <ul>
        <li>家庭用エアコンクリーニング<br>100万円</li>
        <li>水まわりのお掃除<br>100万円</li>
        <li>フローリング<br>100万円</li>
        <li>クロスクリーニング<br>100万円</li>
        <li>ガラスクリーニング<br>1000万円</li>
        <li>その他</li>
        </ul>
    </div>
    </div>
    </section>
    <section class="section4">
    <div class="serviceContent">
    <div class="content">
    <%= image_tag "image3.jpg", alt: "ear", id: "assets", class: "image" %>
    </div>
    <div class="ContentMesseage">
        <h2>エアコンクリーニング</h2>
        <p>サクラプランニングのエアコンリーニング業務です。あああああああああああああああああああああああああああああ</p>
    </div>
    <div class="ContentList">
        <ul>
        <li>家庭用エアコンクリーニング<br>100万円</li>
        <li>水まわりのお掃除<br>100万円</li>
        <li>フローリング<br>100万円</li>
        <li>クロスクリーニング<br>100万円</li>
        <li>ガラスクリーニング<br>1000万円</li>
        <li>その他</li>
        </ul>
    </div>
    </div>
    </section>
    </div>
</body>