<!DOCTYPE html>
<html lang="ja" dir="ltr">
<html>
  <head>
  
    <title>掃除の事なら！サクラプランニング</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"
        rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= javascript_include_tag 'demo_js' %>
  <header>
  <!--PC-->
  <div class="pc">
  <div class="headerTop">
    <%= link_to image_tag('https://dotup.org/uploda/dotup.org2192107.png',class:"logo"), '/' %>
    <p class="headerTitle">あなたのお部屋も心も綺麗に。</p>
    <address class="headerContact"><span class="tell">072-432-2212</span>
    <br>受付時間:AM0:00〜PM23:59</address>
  </div>
    <nav class="header-menu">
    <ul class="menu">
      <li><%= link_to "/" do %>
        <i class="fas fa-home"></i> ホーム
      <% end %></li>
      <li><%= link_to "/service/service_page" do %>
        サービス<i class="fas fa-angle-right"></i>
      <% end %>
        <ul>
          <div class="sub">
          <li><%= link_to('ハウスクリーニング','#')%></li>
          <li><%= link_to('ビルクリーニング','#')%></li>
          <li><%= link_to('木部灰汁洗い','#')%></li>
          <li><%= link_to('エアコンクリーニング','#')%></li>
          </div>
        </ul>
      </li>
      <li><%= link_to('ご注文の流れ','/order/order_page')%></li>
      <li><%= link_to('お問い合わせ','/contact/contact_page')%></li>
      <li><%= link_to('会社概要','/overview/over_page')%></li>
      </ul>
      </nav>
    </div>
        <!--tablet-->
    <div class="tablet">
    <div class="headerTop">
    <%= link_to image_tag('logomini2.png',class:"logo"), '/' %>
    </div>
    <div class="navToggle">
    <span></span><span></span><span></span>
    </div>
    <nav class="tabletMenu">
      <ul>
      <li><%= link_to('ホーム',"/")%></li>
      <li><%= link_to('サービス',"/service/service_page")%></li>
      <li><%= link_to('ご注文の流れ','/order/order_page')%></li>
      <li><%= link_to('お問い合わせ','/contact/contact_page')%></li>
      <li><%= link_to('会社概要','/overview/over_page')%></li>
      </ul>
    </nav>
    </div>
    <div class="breadcrumb">
    <%= render_breadcrumbs separator: '>'%>
    </div>
  </header>
    <%= yield %>
    </div>
    <footer>
      <div class="footer-body">
        <div class="footerTop">
          <div class="txtTop"><%= link_to image_tag('https://dotup.org/uploda/dotup.org2192107.png.',class:"logo"), '/' %></div>
          <p class="txtBottom">ー　あなたのお部屋も心も綺麗に　ー</p>
        </div>
        <address class="footerAddress">072-432-2212</address>
        <div class="footerList">
          <ul>
            <li><%= link_to('ホーム','/')%></li>
            <li><%= link_to('サービス','/service/service_page')%></li>
            <li><%= link_to('ご注文の流れ','/order/order_page')%></li>
            <li><%= link_to('お問い合わせ','/contact/contact_page')%></li>
            <li><%= link_to('会社概要','/overview/over_page')%></li>
          </ul>
        </div>
        <div class="instag">
        <%= link_to "https://www.instagram.com/gawasa2929/" do%>
          <i class="fab fa-instagram"></i>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
